<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Metro Test</title>
    </head>
    <body>
        <section class="diploma">
            <div class="container">
                <div class="diploma-text">Новых станций: {{ new }}</div>
                <div class="diploma-text">Закрыто станций: {{ deleted }}</div>
                <div class="diploma-text">Без изменений станций: {{ old }}</div>
            </div>
        </section>
    </body>
</html>